@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  @apply mx-auto;
}

.swiper-slide {
  @apply text-center;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply cursor-grab;
}

.swiper-slide img {
  @apply block;
  width: 100%;
  height: 100%;
  @apply object-cover;
}

.swiper-slide-thumb-active {
  @apply border-2;
  @apply border-blue-400;
}
.swiper-slide>.imgae-swiper {
  width: 90% !important;
}
.custom-select {
    appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('path_to_blank_image.png') no-repeat right center;
  padding-right: 20px;
  border: none; /* Xóa viền */
  outline: none; /* Xóa đường viền khi focus */
  width: fit-content; /* Đặt độ rộng dựa trên nội dung */
  white-space: nowrap; /* Ngăn chặn xuống dòng */
  }
