@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #f03355) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
  position: absolute;
  @apply top-1/2;
  @apply left-1/2;
}

@keyframes l4 {
  to {
    transform: rotate(1turn)
  }
}


.swiper {
  @apply mx-auto;
}

.swiper-slide {
  @apply text-center;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply cursor-grab;
}

.swiper-button-disabled {
  @apply hidden;
}

.swiper-slide>img {
  @apply block;
  @apply w-full;
  @apply h-full;
  @apply object-cover;
}

.swiper-slide-thumb-active {
  @apply border-2;
  @apply border-blue-400;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('path_to_blank_image.png') no-repeat right center;
  padding-right: 20px;
  border: none;
  outline: none;
  width: fit-content;
  white-space: nowrap;
}


.swiper-pagination {
  width: auto;
  height: 20px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: rgb(189, 195, 199)s;
}

.swiper-pagination-bullet-active {
  background-color: darkred;
}